<h1 mat-dialog-title>Edit Timeline</h1>

<form mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Title" formControlName="headline" cdkFocusInitial>
  </mat-form-field>


  <div cdkDropList class="items" (cdkDropListDropped)="onDrop($event)" formArrayName="items">
    <div cdkDrag cdkDragLockAxis="y" class="item" *ngFor="let form of itemsForm.controls; let i = index">

      <button mat-icon-button cdkDragHandle class="handle" matTooltip="Move">
        <mat-icon color="accent">drag_indicator</mat-icon>
      </button>
      <div [formGroupName]="i" class="input-group">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput type="text" placeholder="Time" formControlName="time">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" #autosize="cdkTextareaAutosize"
            cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
        </textarea>
        </mat-form-field>
      </div>
      <button mat-icon-button color="warn" matTooltip="Remove" (click)="onRemoveItem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
  <button mat-button color="primary" (click)="onAddItem()">
    <mat-icon>add_circle</mat-icon>
    Add Item
  </button>
</form>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form.valid" [mat-dialog-close]="form.value">Ok</button>
</div>
