<h2 mat-dialog-title>Choose your Template</h2>

<section mat-dialog-content>
  <mat-radio-group class="group" [(ngModel)]="selection">
    <mat-radio-button value="simple">Simple Layout</mat-radio-button>
    <mat-radio-button value="split">Splitted Layout</mat-radio-button>
  </mat-radio-group>
</section>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    mat-dialog-close
    [disabled]="!selection"
    (click)="openTemplate(selection)"
  >
    Ok
  </button>
</div>
