form {
  padding: 0 32px;
}

section {
  display: flex;
  flex-direction: column;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.border-preview {
  border-width: 2px;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}
