<form *ngIf="form" [formGroup]="form">
  <section>
    <h6>General Style</h6>

    <mat-form-field appearance="outline">
      <mat-label> Highlight Color </mat-label>
      <input
        matInput
        type="text"
        placeholder="#3f51b5"
        formControlName="highlightColor"
      />
      <div
        matPrefix
        class="dot"
        [style.backgroundColor]="form.value.highlightColor"
      ></div>
    </mat-form-field>
  </section>

  <section>
    <h6>Headline Style</h6>

    <mat-form-field appearance="outline">
      <mat-label> Font Color </mat-label>
      <input
        matInput
        type="text"
        placeholder="#666666"
        formControlName="headlineColor"
      />
      <div
        matPrefix
        class="dot"
        [style.backgroundColor]="form.value.headlineColor"
      ></div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Type </mat-label>
      <mat-select formControlName="headlineFontType">
        <mat-option
          value="Source Sans Pro"
          [style.fontFamily]="'Source Sans Pro'"
          [style.fontWeight]="form.value.headlineFontWeight"
        >
          Source Sans Pro
        </mat-option>
        <mat-option
          value="Roboto"
          [style.fontFamily]="'Roboto'"
          [style.fontWeight]="form.value.headlineFontWeight"
        >
          Roboto
        </mat-option>
        <mat-option
          value="Arial"
          [style.fontFamily]="'Arial'"
          [style.fontWeight]="form.value.headlineFontWeight"
        >
          Arial
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Weight </mat-label>
      <mat-select formControlName="headlineFontWeight">
        <mat-option value="600" [style.fontWeight]="600"> Bold </mat-option>
        <mat-option value="400" [style.fontWeight]="400"> Normal </mat-option>
        <mat-option value="200" [style.fontWeight]="200"> Thin </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Size </mat-label>
      <input
        matInput
        type="text"
        placeholder="1em"
        formControlName="headlineFontSize"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Underline Style </mat-label>
      <mat-select formControlName="headlineBorderType">
        <mat-option
          value="solid"
          class="border-preview"
          [style.borderBottomStyle]="'solid'"
        >
          Solid
        </mat-option>
        <mat-option
          value="dashed"
          class="border-preview"
          [style.borderBottomStyle]="'dashed'"
        >
          Dashed
        </mat-option>
        <mat-option
          value="dotted"
          class="border-preview"
          [style.borderBottomStyle]="'dotted'"
        >
          Dotted
        </mat-option>
        <mat-option value="none"> None </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section>
    <h6>Text Styling</h6>

    <mat-form-field appearance="outline">
      <mat-label> Font Color </mat-label>
      <input
        matInput
        type="text"
        placeholder="#666666"
        formControlName="textColor"
      />
      <div
        matPrefix
        class="dot"
        [style.backgroundColor]="form.value.textColor"
        (click)="picker.click()"
      >
        <input hidden type="color" [value]="form.value.textColor" #picker />
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Type </mat-label>
      <mat-select formControlName="textFontType">
        <mat-option
          value="Source Sans Pro"
          [style.fontFamily]="'Source Sans Pro'"
          [style.fontWeight]="form.value.textFontWeight"
        >
          Source Sans Pro
        </mat-option>
        <mat-option
          value="Roboto"
          [style.fontFamily]="'Roboto'"
          [style.fontWeight]="form.value.textFontWeight"
        >
          Roboto
        </mat-option>
        <mat-option
          value="Arial"
          [style.fontFamily]="'Arial'"
          [style.fontWeight]="form.value.textFontWeight"
        >
          Arial
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Weight </mat-label>
      <mat-select formControlName="textFontWeight">
        <mat-option value="600" [style.fontWeight]="600"> Bold </mat-option>
        <mat-option value="400" [style.fontWeight]="400"> Normal </mat-option>
        <mat-option value="200" [style.fontWeight]="200"> Thin </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Font-Size </mat-label>
      <input
        matInput
        type="text"
        placeholder="1"
        formControlName="textFontSize"
      />
    </mat-form-field>
  </section>

  <button mat-button color="primary" type="button" (click)="onReset()">
    Reset
  </button>
</form>
