<h4 *ngIf="data?.headline">
  {{ data.headline }}
</h4>
<ul>
  <li class="timespan" *ngFor="let item of data.items">
    <div class="text">
      {{ item.time }}
    </div>
    <h5>
      {{ item.name }}
    </h5>
    <div class="text">
      {{ item.description }}
    </div>
  </li>
</ul>

<div class="tools hidden-print">
  <button mat-icon-button color="accent" matTooltip="Edit" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-icon-button color="accent" matTooltip="Remove" (click)="onRemove()">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
